In [7]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [9]:
# Import in the data from csv files
median_household_income = Table().read_table("MedianHouseholdIncome2015.csv")
percent_below_poverty = Table().read_table("PercentagePeopleBelowPovertyLevel.csv")
percent_over_25_completed = Table().read_table("PercentOver25CompletedHighSchool.csv")
police_killings = Table().read_table("PoliceKillingsUS.csv")
share_race_by_city = Table().read_table("ShareRaceByCity.csv")

In [29]:
median_household_income

Geographic Area | City                | Median Income
AL              | Abanda CDP          | 11207
AL              | Abbeville city      | 25615
AL              | Adamsville city     | 42575
AL              | Addison town        | 37083
AL              | Akron town          | 21667
AL              | Alabaster city      | 71816
AL              | Albertville city    | 32911
AL              | Alexander City city | 29874
AL              | Alexandria CDP      | 56058
AL              | Aliceville city     | 21131
... (29312 rows omitted)

In [28]:
percent_below_poverty

Geographic Area | City                | poverty_rate
AL              | Abanda CDP          | 78.8
AL              | Abbeville city      | 29.1
AL              | Adamsville city     | 25.5
AL              | Addison town        | 30.7
AL              | Akron town          | 42
AL              | Alabaster city      | 11.2
AL              | Albertville city    | 26.7
AL              | Alexander City city | 30.4
AL              | Alexandria CDP      | 9.7
AL              | Aliceville city     | 41.3
... (29319 rows omitted)

In [12]:
percent_over_25_completed

Geographic Area | City                | percent_completed_hs
AL              | Abanda CDP          | 21.2
AL              | Abbeville city      | 69.1
AL              | Adamsville city     | 78.9
AL              | Addison town        | 81.4
AL              | Akron town          | 68.6
AL              | Alabaster city      | 89.3
AL              | Albertville city    | 72.7
AL              | Alexander City city | 78.1
AL              | Alexandria CDP      | 88.8
AL              | Aliceville city     | 74.3
... (29319 rows omitted)

In [13]:
police_killings

id   | name                | date   | manner_of_death  | armed      | age  | gender | race | city          | state | signs_of_mental_illness | threat_level | flee        | body_camera
3    | Tim Elliot          | 2/1/15 | shot             | gun        | 53   | M      | A    | Shelton       | WA    | True                    | attack       | Not fleeing | False
4    | Lewis Lee Lembke    | 2/1/15 | shot             | gun        | 47   | M      | W    | Aloha         | OR    | False                   | attack       | Not fleeing | False
5    | John Paul Quintero  | 3/1/15 | shot and Tasered | unarmed    | 23   | M      | H    | Wichita       | KS    | False                   | other        | Not fleeing | False
8    | Matthew Hoffman     | 4/1/15 | shot             | toy weapon | 32   | M      | W    | San Francisco | CA    | True                    | attack       | Not fleeing | False
9    | Michael Rodriguez   | 4/1/15 | shot             | nail gun   | 39   | M      | H    | Evans         | CO    | False                   | attack       | Not fleeing | False
11   | Kenneth Joe Brown   | 4/1/15 | shot             | gun        | 18   | M      | W    | Guthrie       | OK    | False                   | attack       | Not fleeing | False
13   | Kenneth Arnold Buck | 5/1/15 | shot             | gun        | 22   | M      | H    | Chandler      | AZ    | False                   | attack       | Car         | False
15   | Brock Nichols       | 6/1/15 | shot             | gun        | 35   | M      | W    | Assaria       | KS    | False                   | attack       | Not fleeing | False
16   | Autumn Steele       | 6/1/15 | shot             | unarmed    | 34   | F      | W    | Burlington    | IA    | False                   | other        | Not fleeing | True
17   | Leslie Sapp III     | 6/1/15 | shot             | toy weapon | 47   | M      | B    | Knoxville     | PA    | False                   | attack       | Not fleeing | False
... (2525 rows omitted)

In [14]:
share_race_by_city

Geographic area | City                | share_white | share_black | share_native_american | share_asian | share_hispanic
AL              | Abanda CDP          | 67.2        | 30.2        | 0                     | 0           | 1.6
AL              | Abbeville city      | 54.4        | 41.4        | 0.1                   | 1           | 3.1
AL              | Adamsville city     | 52.3        | 44.9        | 0.5                   | 0.3         | 2.3
AL              | Addison town        | 99.1        | 0.1         | 0                     | 0.1         | 0.4
AL              | Akron town          | 13.2        | 86.5        | 0                     | 0           | 0.3
AL              | Alabaster city      | 79.4        | 13.5        | 0.4                   | 0.9         | 9
AL              | Albertville city    | 75.9        | 1.9         | 0.8                   | 0.5         | 27.9
AL              | Alexander City city | 62.2        | 32          | 0.2                   | 0.9         | 4.8
AL              | Alexandria CDP      | 87.4        | 10.2        | 0.3                   | 0.5         | 0.9
AL              | Aliceville city     | 22.6        | 74.9        | 0.1                   | 0           | 1.2
... (29258 rows omitted)

In [36]:
# We can combine a few of these tables to get a more succinct set of data
edited_killings = police_killings.select(np.arange(1, 12))

name                | date   | manner_of_death  | armed      | age  | gender | race | city          | state | signs_of_mental_illness | threat_level
Tim Elliot          | 2/1/15 | shot             | gun        | 53   | M      | A    | Shelton       | WA    | True                    | attack
Lewis Lee Lembke    | 2/1/15 | shot             | gun        | 47   | M      | W    | Aloha         | OR    | False                   | attack
John Paul Quintero  | 3/1/15 | shot and Tasered | unarmed    | 23   | M      | H    | Wichita       | KS    | False                   | other
Matthew Hoffman     | 4/1/15 | shot             | toy weapon | 32   | M      | W    | San Francisco | CA    | True                    | attack
Michael Rodriguez   | 4/1/15 | shot             | nail gun   | 39   | M      | H    | Evans         | CO    | False                   | attack
Kenneth Joe Brown   | 4/1/15 | shot             | gun        | 18   | M      | W    | Guthrie       | OK    | False                   | attack
Kenneth Arnold Buck | 5/1/15 | shot             | gun        | 22   | M      | H    | Chandler      | AZ    | False                   | attack
Brock Nichols       | 6/1/15 | shot             | gun        | 35   | M      | W    | Assaria       | KS    | False                   | attack
Autumn Steele       | 6/1/15 | shot             | unarmed    | 34   | F      | W    | Burlington    | IA    | False                   | other
Leslie Sapp III     | 6/1/15 | shot             | toy weapon | 47   | M      | B    | Knoxville     | PA    | False                   | attack
... (2525 rows omitted)

In [32]:
proportion_men = o